<div ng-cloak layout="row" layout="column" layout-align="center center" layout-padding>
  <div flex-gt-sm="80" flex="100">
    <md-content md-whiteframe="1" class="locations-container">
      <locations-list></locations-list>
    </md-content>
  </div>
</div>