<div class="forecast-container" layout="row" layout-wrap layout-align="center center">
    <div flex>
        <canvas class="chart chart-line" chart-data="$ctrl.data" chart-labels="$ctrl.labels" chart-series="$ctrl.series" chart-options="$ctrl.options">
    </div>
</div>