<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Forecast">
            <md-content class="md-padding">
                <ul class="forecast-container" layout="row" layout-wrap layout-align="center center">
                    <li class="forecast-item" ng-repeat="forecast in $ctrl.forecastItems" flex-xs="50" flex="25">
                        <div>
                            <strong class="forecast-item-label">
                                <span am-time-ago="forecast.date | amFromUnix"></span>
                            </strong>
                        </div>
                        <div>
                            <strong>Temp: </strong> {{::forecast.temp}}ºC
                        </div>
                        <div>
                            <strong>Wind Strength: </strong> {{::forecast.windSpeed}} km/h
                        </div>
                    </li>
                </ul>
            </md-content>
        </md-tab>
        <md-tab label="Graph">
            <md-content class="md-padding">
                {{JSON.stringify($ctrl.forecastItems)}}
                <graph forecast="$ctrl.forecastItems"></graph>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>