<md-list-item class="md-3-line">
    <img ng-src="http://openweathermap.org/img/w/{{$ctrl.weatherIcon}}.png" class="md-avatar" />
    <div class="md-list-item-text">
        <h3>{{ ::$ctrl.locationName }}</h3>
        <h4>
            <strong>Temp: </strong> {{::$ctrl.temp}}ºC
        </h4>
        <h4>
            <strong>Wind Strength: </strong> {{::$ctrl.wind}} km/h
        </h4>
        <md-button class="md-raised md-primary md-secondary" ng-click="$ctrl.toggleWeekForecast()">Hourly Forecast</md-button>
        <md-divider md-inset ng-if="!$ctrl.isLastItem"></md-divider>
    </div>
</md-list-item>
<md-list-item layout="row" layout-fill class="week-forecast" ng-if="$ctrl.showWeekForecast">
    <forecast layout-fill location-name="$ctrl.locationName"></forecast>
</md-list-item>