.week-forecast {
    position: relative;
    -webkit-transition:max-height linear 0.5s;
    transition:max-height linear 0.5s;
    min-height: 0;	
    overflow: hidden;
}

.week-forecast.ng-leave, .week-forecast.ng-enter.ng-enter-active {
    max-height: 300px;
}
.week-forecast.ng-leave.ng-leave-active, .week-forecast.ng-enter {
    max-height: 0;
}